<h1>Welcome to... <br/>
    💃🕺 The Party 🕺💃</h1>
<table>
    <tr>
        <td>user_signed_in?</td>
        <td><%= user_signed_in? %></td>
    </tr>
    <tr>
        <td>current_user</td>
        <td><%= current_user.email %></td>
    </tr>
    <tr>
        <td>user_session</td>
        <td><%= user_session %></td>
    </tr>
    <tr>
        <tr>
            <td><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></td>
        </tr>
    </tr>
</table>
<div>
    <h2>Followers</h2>
    <h2>Requests Sent</h2>  
        <ol>
            <% @user.follow_requests_sent.each do |u|  %>
            <li><%=u.receiver.email%></li>
            <% end %>
        </ol>
    <h2>Requests Received</h2>
        <ol>
            <% @user.follow_requests_received.each do |u|  %>
            <li><%=u.sender.email%></li>
            <% end %>
        </ol>
    </div>