
    <div class="row align-items-start">
        <div class="col">
            <h2>Profile</h2>
            <div><%= current_user.email %></div>
            <div><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
        </div>

        <div class="col text-center">
          <h3>look who's here!</h3>
            <ul class="list-group">
                <% @users.each do |user| %>
                    <li class="list-group-item"><%= user.email %>  <button>follow</button></li>
                <% end %>
            </ul>
        </div>

        <div class="col">
            <h2>Followers</h2>
            <div>coming soon...</div>
            <h3>Requests Sent</h2>  
                <ol>
                    <% @user.follow_requests_sent.each do |u|  %>
                    <li><%=u.receiver.email%></li>
                    <% end %>
                </ol>
            <h3>Requests Received</h2>
                <ol>
                    <% @user.follow_requests_received.each do |u|  %>
                    <li><%=u.sender.email%></li>
                    <% end %>
                </ol>
        </div>   
    </div>