<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ruby Rails Postgres" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="row ">
        <h1 class="col-lg-2 text-left">
          <%= link_to("ðŸ ", root_path) %>
        </h1> 
        <div class="col-lg-8 text-center">
          <h1>ðŸ’ƒðŸ•º Welcome to The Party ðŸ•ºðŸ’ƒ</h1>   
        </div>
        <div class="col-lg-2 text-left">
            <p><%= current_user.email %></br>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </p>
        </div>
      </div>

      <%
        @user = User.find(current_user.id)
        @users = User.all.map { |u| { id: u.id, email: u.email, is_following: u.followers.any? { |f| f.id == @user.id  } } }
      %>
  <hr/>
      <div class="row align-items-start">
        <div class="col-lg-2">
            <h3>look who's here!</h3>
            <ul class="list-group">
                <% @users.each do |user| %>
                    <% if (user[:id] != current_user.id)  %>
                        <li class="list-group-item"><%= user[:email] %>  
                            <%=if user[:is_following]
                                    button_to 'unfollow', follower_request_path(current_user.id), params: {follow_id: user[:id]}, method: :delete 
                            else 
                                    button_to 'follow', follower_request_path(current_user.id), params: {follow_id: user[:id]}, method: :post
                            end %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>

        <div class="col-lg-8 text-left">
          <%= yield %>
        </div>

        <div class="col-lg-2 text-left">
            <div>
              <h2>Following</h2>
              <div>
                    <% if @user.following.any?  %>
                        <ol>
                            <% @user.following.each do |u|  %>
                            <li><%=u.email%></li>
                            <% end %>
                        </ol>
                    <% else %>
                        <p>n/a</p>
                    <% end %>
              </div>
          </div>

          <div>
                <h2>Followers</h2>
                <div>
                    <% if @user.followers.any?  %>
                        <ol>
                            <% @user.followers.each do |u|  %>
                            <li><%=u.email%></li>
                            <% end %>
                        </ol>
                    <% else %>
                        <p>n/a</p>
                    <% end %>
                </div>
          </div>

            <% # TODO: This should be a partial %>
          <div>
                <h3><%= link_to("Requests", follower_requests_path) %></h3>  
                <h4>Sent</h4>
                    <% if @user.follow_requests_sent.any? %>
                        <ul>
                            <% @user.follow_requests_sent.each do |u|  %>
                            <li><%=u.receiver.email%></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>n/a</p>
                    <% end %>
                <h4>Received</h4>
                    <% if @user.follow_requests_received.any? %>
                        <ul>
                            <% @user.follow_requests_received.each do |u|  %>
                            <li><%=u.sender.email%></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <p>n/a</p>
                    <% end %>
          </div>
        </div>  
      </div> 
    </div>
  </body>
</html>
